@import "_Variables.scss";

#Header {
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: $primary-color;
    color: white;
    font-size: 2em;
    letter-spacing: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Github-logo {
    grid-row: 1/2;
    position: absolute;
    right: 10px;
    fill: white;
    transition-property: transform, fill;
    transition: 300ms ease-in;
    transform: scale(1);
}

#Github-logo:hover {
    transition-property: transform, fill;
    transition: 100ms ease-in;
    fill: black;
    transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
    #Header {
        font-size: 1.5em;
        letter-spacing: 0.25em;
    }

    #Github-logo {
        transform: scale(0.8);
    }

    #Github-logo:hover {
        transform: scale(0.9);
    }
}