@import "_Variables.scss";

#Intro {
    grid-column: 2/3;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    #Intro-1 {
        letter-spacing: 5px;
        font-size: 1.3125em;
        max-width: 50%;
        min-width: 210px;
        display: flex;
        align-self: center;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }

    #Intro-2 {
        letter-spacing: 4px;
        font-size: 1.3125em;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;

        p {
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 600px) {
    #Intro {
        #Intro-1 {
            font-size: 1em;
        }

        #Intro-2 {
            font-size: 1em;
        }
    }
}