@import "_Welcome.scss";
@import "_MySkills.scss";
@import "_Header.scss";
@import "_Footer.scss";
@import "_Variables.scss";
@import "_MyProjects.scss";


body {
    margin: 0;
    font-family: Helvetica;
}

.route-wrapper {
    position: relative;
}

.route-wrapper>div {
    z-index: 0;
    position: absolute;
    height: 30em;
    width: 100%;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
}

#Grid {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
}

#Middle-right-grid {
    position: relative;
    grid-row: 1/3;
    grid-column: 3/4;
    height: 100%;
    margin-right: 25%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    #arrows {
        grid-column: 3/4;
        grid-row: 2/3;
        align-self: center;
        z-index: 10;
    }

    #arrows-text {
        transition-property: opacity, transform;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
        opacity: 0.6;
        writing-mode: vertical-lr;
        grid-column: 2/3;
        grid-row: 1/4;
        align-self: center;
        justify-self: right;
        margin-top: 12px;
        margin-right: 12px;
        margin-left: 0;
        letter-spacing: 4px;
        word-spacing: 3px;
        font-size: 14px;
    }
}

#Middle-right-grid:hover>#arrows-text {
    transition-property: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    opacity: 1;
    transform: scale(1.05);
}

#Middle-left-grid {
    position: relative;
    grid-row: 1/3;
    grid-column: 1/2;
    height: 100%;
    margin-left: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;

    #arrows {
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: center;
        justify-self: right;
        z-index: 10;
    }

    #arrows-text {
        transition-property: opacity, transform;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
        opacity: 0.6;
        writing-mode: sideways-rl;
        grid-column: 2/3;
        grid-row: 1/4;
        align-self: center;
        justify-self: left;
        margin-top: 12px;
        margin-right: 12px;
        letter-spacing: 4px;
        word-spacing: 3px;
        font-size: 14px;
    }
}

#Middle-left-grid:hover>#arrows-text {
    transition-property: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    opacity: 1;
    transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
    #Middle-right-grid {
        margin-right: 0px;

        #arrows {
            transform: scale(0.7);
        }

        #arrows-text {
            font-size: 12px;
            margin-right: 0px;
        }
    }

    #Middle-left-grid {
        margin-left: 0px;

        #arrows {
            transform: scale(0.7);
        }

        #arrows-text {
            font-size: 12px;
            margin-left: 0px;
        }
    }
}