#Intro {
  grid-column: 2/3;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#Intro #Intro-1 {
  letter-spacing: 5px;
  font-size: 1.3125em;
  max-width: 50%;
  min-width: 210px;
  display: flex;
  align-self: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
#Intro #Intro-2 {
  letter-spacing: 4px;
  font-size: 1.3125em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
#Intro #Intro-2 p {
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  #Intro #Intro-1 {
    font-size: 1em;
  }
  #Intro #Intro-2 {
    font-size: 1em;
  }
}
#Skills-wrapper {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

#Skills-subgrid {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 3em);
  row-gap: 2em;
  column-gap: 4em;
  align-content: center;
}

.skill {
  border-radius: 5em;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  color: black;
  text-decoration-line: none;
  background-color: white;
  transition-property: color, background-color;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  min-width: 90px;
}
.skill p {
  align-self: center;
  margin: 0;
  font-weight: 400;
}

.skill:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px #000000;
  color: white;
  background-color: black;
  text-decoration-line: none;
  transition-property: color, background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

#Overlay-Grid {
  position: fixed;
  z-index: 100000;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#Overlay-Grid #Title {
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 4em;
  font-family: Helvetica;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
  align-self: center;
  justify-self: center;
}
#Overlay-Grid #Logo {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  justify-self: center;
  grid-row: 1/3;
  grid-column: 1/2;
}
#Overlay-Grid #Logo > svg {
  fill: white;
}
#Overlay-Grid #Text {
  font-weight: 1;
  font-family: Helvetica;
  font-size: 1.6em;
  line-height: 8vh;
  color: white;
  align-self: center;
  justify-self: center;
  grid-row: 1/3;
  grid-column: 2/3;
  margin-right: 12px;
}

#Overlay-Return:hover {
  cursor: default;
}

@media only screen and (max-width: 600px) {
  #Skills-subgrid {
    column-gap: 1em;
    row-gap: 1em;
  }

  .skill p {
    font-size: 14px;
  }

  #Overlay-Grid #Logo {
    transform: scale(0.6);
    grid-row: 1/2;
    grid-column: 1/3;
  }
  #Overlay-Grid #Text {
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 20px;
    line-height: 5vh;
    font-weight: 400;
    text-align: center;
    align-self: flex-start;
    margin: 15px;
  }
}
#Header {
  grid-row: 1/2;
  grid-column: 1/4;
  background-color: #2f3a5c;
  color: white;
  font-size: 2em;
  letter-spacing: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  #Header {
    font-size: 1.5em;
    letter-spacing: 0.25em;
  }
}
#Footer {
  grid-row: 3/4;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#Footer #arrows {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
}
#Footer #arrows:hover {
  cursor: pointer;
}
#Footer #arrows-text {
  transition-property: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  opacity: 0.6;
  grid-column: 1/4;
  grid-row: 2/3;
  align-self: flex-end;
  justify-self: center;
  margin-bottom: 0.7em;
  letter-spacing: 4px;
  word-spacing: 3px;
  font-size: 14px;
}

#Footer:hover > #arrows-text {
  transition-property: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  opacity: 1;
  transform: scale(1.05);
}

.checkmark-logo {
  box-shadow: 1px 1px 3px #000000;
  border-radius: 18px;
  align-self: center;
  position: fixed;
  left: 45%;
  bottom: 50%;
  background-color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  z-index: 1000;
}
.checkmark-logo h4 {
  margin-top: 10px;
}
.checkmark-logo svg {
  align-self: center;
}

.checkmark-logo-enter {
  opacity: 0.01;
  transform: translateY(50%);
}

.checkmark-logo-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.checkmark-logo-exit {
  opacity: 1;
  transform: translateY(0%);
}

.checkmark-logo-exit-active {
  opacity: 0.01;
  transform: translateY(50%);
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.contact-form-enter {
  opacity: 0.01;
  transform: translateY(50%);
}

.contact-form-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.contact-form-exit {
  opacity: 1;
  transform: translateY(0%);
}

.contact-form-exit-active {
  opacity: 0.01;
  transform: translateY(50%);
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.contact-form {
  position: fixed;
  bottom: 0;
  height: 33%;
  width: 100%;
  margin: 0;
  background-color: #2f3a5c;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 30px repeat(3, 1fr) 1fr;
  align-items: center;
  justify-items: center;
}
.contact-form p {
  display: flex;
  justify-self: right;
  color: white;
  margin: 0;
}
.contact-form #message-header {
  grid-row: 2/3;
  grid-column: 3/4;
  justify-self: center;
  margin: 0;
}
.contact-form input {
  border-radius: 0.5em;
  padding: 2px;
}
.contact-form input:hover {
  box-shadow: white 0 0 3px 0;
}
.contact-form #submit-hide {
  display: none;
}
.contact-form #submit {
  grid-column: 3/4;
  justify-self: right;
  margin-right: 5%;
  border: white 2px solid;
  padding: 8px;
}
.contact-form #submit:hover {
  box-shadow: #ffffff 0px 0px 5px 0px;
}
.contact-form #message-form {
  grid-row: 3/5;
  grid-column: 3/4;
  width: 90%;
  height: 5em;
  border-radius: 1em;
  padding: 10px;
}
.contact-form #message-form:hover {
  box-shadow: white 0 0 3px 0px;
}
.contact-form #close {
  border-bottom: white solid 5px;
  width: 10%;
  grid-column: 1/4;
  justify-self: center;
  margin: 10px;
  border-radius: 4px;
  margin: 0;
  height: 20px;
}
.contact-form #close:hover {
  cursor: pointer;
}

#Projects-wrapper {
  grid-column: 2/3;
  overflow: scroll;
  box-shadow: 1px 1px 3px black;
  margin-top: 5px;
}
#Projects-wrapper #Project {
  height: 25%;
  margin: 7px;
  padding: 5px;
  border-bottom: 2px solid black;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 3fr 2fr 2fr;
}
#Projects-wrapper #Project p {
  margin: 0px;
  margin-bottom: 5px;
  grid-column: 1/2;
}
#Projects-wrapper #Project i {
  font-size: 12px;
  grid-column: 1/2;
}
#Projects-wrapper #Project #Github-logo {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: right;
  fill: black;
  transition-property: transform, fill;
  transition: 300ms ease-in;
  transform: scale(1);
}
#Projects-wrapper #Project #Github-logo-disable {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: right;
  fill: gray;
  transition-property: transform, fill;
  transition: 300ms ease-in;
  transform: scale(1);
  visibility: hidden;
}
#Projects-wrapper #Project #Github-logo-disable:hover {
  cursor: not-allowed;
}
#Projects-wrapper #Project #Github-logo:hover {
  transition-property: transform, fill;
  transition: 100ms ease-in;
  fill: black;
  transform: scale(1.1);
}
#Projects-wrapper #Project #Demo-button {
  min-width: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
  width: 25%;
  justify-self: right;
  border-radius: 20px;
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: white;
  border: 1px solid black;
  text-align: center;
}
#Projects-wrapper #Project #Demo-button:hover {
  transition-property: transform;
  transition: 100ms ease-in;
  transform: scale(1.05);
}
#Projects-wrapper #Project #Demo-button-disable {
  min-width: 50px;
  justify-self: right;
  border-radius: 20px;
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: gray;
  border: none;
  visibility: hidden;
}

#Ocr-Table {
  grid-column: 2/3;
}

#download:hover {
  box-shadow: black 0px 0px 5px 0px;
  cursor: pointer;
}

#download {
  color: gray;
  padding: 4px;
  width: 120px;
}

#upload {
  color: gray;
  padding: 4px;
  width: 170px;
}

#upload-hide {
  visibility: hidden;
  display: none;
}

#upload:hover {
  box-shadow: black 0px 0px 5px 0px;
  cursor: pointer;
}

#browse {
  color: gray;
  padding: 4px;
  width: 170px;
}

#browse-hide {
  visibility: hidden;
  display: none;
}

#browse:hover {
  box-shadow: black 0px 0px 5px 0px;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Helvetica;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  z-index: 0;
  position: absolute;
  height: 30em;
  width: 100%;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
}

#Grid {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
}

#Middle-right-grid {
  position: relative;
  grid-row: 1/3;
  grid-column: 3/4;
  height: 100%;
  margin-right: 25%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#Middle-right-grid #arrows {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: center;
  z-index: 10;
}
#Middle-right-grid #arrows-text {
  transition-property: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  opacity: 0.6;
  writing-mode: vertical-lr;
  grid-column: 2/3;
  grid-row: 1/4;
  align-self: center;
  justify-self: right;
  margin-top: 12px;
  margin-right: 12px;
  margin-left: 0;
  letter-spacing: 4px;
  word-spacing: 3px;
  font-size: 14px;
}

#Middle-right-grid:hover > #arrows-text {
  transition-property: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  opacity: 1;
  transform: scale(1.05);
}

#Middle-left-grid {
  position: relative;
  grid-row: 1/3;
  grid-column: 1/2;
  height: 100%;
  margin-left: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#Middle-left-grid #arrows {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  justify-self: right;
  z-index: 10;
}
#Middle-left-grid #arrows-text {
  transition-property: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  opacity: 0.6;
  writing-mode: sideways-rl;
  grid-column: 2/3;
  grid-row: 1/4;
  align-self: center;
  justify-self: left;
  margin-top: 12px;
  margin-right: 12px;
  letter-spacing: 4px;
  word-spacing: 3px;
  font-size: 14px;
}

#Middle-left-grid:hover > #arrows-text {
  transition-property: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  opacity: 1;
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
  #Middle-right-grid {
    margin-right: 0px;
  }
  #Middle-right-grid #arrows {
    transform: scale(0.7);
  }
  #Middle-right-grid #arrows-text {
    font-size: 12px;
    margin-right: 0px;
  }

  #Middle-left-grid {
    margin-left: 0px;
  }
  #Middle-left-grid #arrows {
    transform: scale(0.7);
  }
  #Middle-left-grid #arrows-text {
    font-size: 12px;
    margin-left: 0px;
  }
}

/*# sourceMappingURL=input.css.map */
